@use './reset';
@use './variables' as *;

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $color-text;
  background: $color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-inline: auto;
  padding-inline: $container-padding;
}